################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/CSClassworkSamples/v17/.wsuo
/.vs/CSClassworkSamples/v17/Browse.VC.db
/.vs/CSClassworkSamples/v17/Browse.VC.db-shm
/.vs/CSClassworkSamples/v17/Browse.VC.db-wal
/.vs/CSClassworkSamples/v17/Browse.VC.opendb
